
fastapi
uvicorn
python-dotenv
requests
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiohttp
cachetools
jinja2
sqlalchemy
django
aiosmtplib
motor
psycopg2-binary
email-validator